<a href="https://colab.research.google.com/github/sharmadhruvds1-ux/citss-pythonclass/blob/main/cb_revision_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
# Odd numbers
for i in range(1,100,2):
  print(i)

In [ ]:
# sum of 100
sum = 0
for i in range(1,101):
  sum = sum + i
print(sum)

5050

In [ ]:
# multiplicaiton
mul = 1
for i in range(1,11):
  mul = mul*i
print(mul)

3628800

In [ ]:
# Square from 1 to 10
sum = 0
for i in range(1,11) :
  sum = sum + i*i
print(sum)

385

In [ ]:
# Cube from 1 to 10

sum = 0
for i in range (1,11):
  sum = sum + i**3
print(sum)

3025

In [ ]:
# Multiplication from 1 to 6
mul = 1
for i in range (1,6):
 mul = mul*i
print(mul)

120

In [ ]:
# Sum of Factorial from 1 to 5

fact = 1
sum = 0
for i in range (1,6):
  fact = fact*i
  sum = sum + fact
print(sum)

153

In [ ]:
# factorial of a input no.

fact =1
num = int(input("Enter the number :"))
for i in range (1, num+1):
 fact = fact*i
print(fact)

Enter the number :5
120

In [ ]:
# Fibonacci series

first_term = 0
second_term = 1

num = int(input("Enter the number :"))       #Enter the term to which you want to print the series

print(first_term)
print(second_term)

for i in range (0,num-2):
 third_term = first_term + second_term
 first_term = second_term
 second_term = third_term

 print(third_term)

Enter the number :12
0
1
1
2
3
5
8
13
21
34
55
89

In [ ]:
# cube of numbers

sum = 0

for i in range(1,10):
  sum = sum + i**3
print(sum)

2025

In [ ]:
# sum of factorial of odd numbers

sum = 0

for i in range (1,7,2):
  fact = 1
  for j in range (1,i+1):
   fact = fact*j
  sum = sum + fact
print(sum)

127

In [ ]:
# sum of factorial of numbers from 1 to 5

fact = 1
sum = 0

for i in range (1,6):
  fact = fact*i
  sum = sum + fact
print(sum)

153

In [ ]:

sum =0

for i in range(1,11,2):
  fact = 1
  for j in range(1,i+1):
    fact = fact*j
  sum = sum + fact
print(sum)

368047

In [ ]:
# Sum of factorial of odd numbers with one loop
fact = 1
sum = 0

for i in range (1,11):
  fact = fact * i
  if i%2 != 0:
   sum = sum + fact
print(sum)

368047

In [1]:
# Sum of 2! + 6! + 10! + 14! + 18!

sum = 0

for i in range (2,19,4):
 fact = 1
  for j in range (1,i+1):
   fact = fact * j
sum = sum + fact

print(sum)

6402460887648722

In [3]:
# Sum of 2! + 4! + 6! + 8!


sum = 0

for i in range (2,9,2):
  fact = 1
  for j in range (1,i+1):
   fact = fact * j
sum = sum + fact

print(sum)

40320