<a href="https://colab.research.google.com/github/sharmadhruvds1-ux/citss-pythonclass/blob/main/revision_string_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# string

name = "kamal"
print(name[2])

if "m" in name:
  print("available")

else :
  print("not in the word")

if "x" in name:
  print("available")

else :
  print("not in the word")

for char in name :
  print(char)

print(name[::-1])

m
available
not in the word
k
a
m
a
l
lamak

In [ ]:
# Pallindrome

text = "mom"
rev = text[::-1]
if text == rev:
  print("pallindorme")
else:
  print("not pallindrome")

pallindorme

In [ ]:
# Pallindrome no.

num = "2345432"
rev = num[::-1]
if num == rev :
  print("pallindrome")
else :
  print("not pallindrome")

c = int(num)/5
print(c)

pallindrome
469086.4

In [ ]:
# check reverse of the no.

num = 5678
num2 = str(num)
print(num2[::-1])

8765

In [ ]:
# reverse a no.

num = 5678
rev = 0

while num>0 :
  digit = num % 10
  rev = rev*10 + digit
  num = num // 10
print(rev)

8765

In [ ]:
# Reverse a stirng without using inbuilt funciton

name = "sunita"
rev = ""

for char in name :
  rev = char + rev
print(rev)

atinus

In [ ]:
# funcitons info

def info():
  print("hi")

info()

hi

In [ ]:
# functions to add a program

def add(a,b):
  print(a+b)

x=add(50,30)
y=add(4,5)
z=add(7,8)

def avg(x,y,z):
  average = (x+y+z)/3
  print(average)

avg(x,y,z)

80
9
15
None
None
None

TypeError: unsupported operand type(s) for +: 'NoneType' and 'NoneType'

In [ ]:
x = 10
y = 35
z = 37
def avg(x,y,z):
  average = (x+y+z)/3
  print(average)

avg(x,y,z)

27.333333333333332

In [ ]:

def add(a,b):
  return(a+b)

x=add(50,30)
y=add(4,5)
z=add(7,8)

def avg(x,y,z):
  average = (x+y+z)/3
  return(average)

avg(x,y,z)

34.666666666666664

In [ ]:
# Factorial of a number

def fact() :
 a = int(input("Enter a number: "))
 fact = 1

 for i in range (1,a+1) :
   fact = fact * i
 print(fact)

fact()

Enter a number: 12
479001600

In [ ]:
# sum of factorial from 1 to 5
def fun(n) :
 sum = 0
 fact = 1
 for i in range (1,n+1) :
  fact = fact * i
  sum = sum + fact
 print(sum)

fun(5)

153

In [ ]:
# 1! + 3! + 5! + 7!

def fun() :
 sum = 0
 for i in range (1,8,2):
  fact = 1
  for j in range (1,i+1):
   fact = fact*j
  sum = sum + fact
 print(sum)

fun()

5167

In [ ]:
sum = 0
fact = 1
for i in range (1,8,2):
  fact = fact*i
  sum = sum + fact
  print(sum)

1
4
19
124

In [ ]:
# 2! + 4! + 6!

def fun():
 sum = 0
 for i in range (2,7,2) :
  fact = 1
  for j in range (1,i+1) :
   fact = fact * j
  sum = sum + fact
 print(sum)

fun()

746

In [ ]:
# 2! + 4! + 6!

def fun(n) :
 sum = 0
 fact = 1
 for i in range (1,n+1) :
  fact = fact * i
  if i % 2 == 0:
   sum = sum + fact
 print(sum)

fun(6)
fun(10)
fun(14)

746
3669866
87660962666

In [ ]:
# 2! + 6! + 10!

def fun() :
 sum = 0
 for i in range(2,11,4):
   fact = 1
   for j in range(1,i+1) :
     fact = fact * j
   sum = sum + fact
 print(sum)

fun()

3629522

In [ ]:
# 2! + 6! + 10!

def fun(n) :
  sum = 0
  fact = 1
  for i in range (1,n+1) :
   fact = fact * i

   if i % 4 == 2 :
    sum = sum + fact

  print(sum)

fun(10)
fun(20)
fun(30)

3629522
6402460887648722
265253263104776192372182559328722

In [ ]:
# 3! + 7! + 11!

def fun(n) :
 sum = 0
 fact = 1
 for i in range(1,n+1):
  fact = fact * i

 if i%4 == 3 :
  sum = sum + fact

 print(sum)

fun(11)
fun(7)

39916800
5040

In [ ]:
# 5! + 11! + 17!

def fun(n) :
 sum = 0
 fact = 1
 for i in range(1,n+1):
  fact = fact * i

 if i%6 == 5 :
  sum = sum + fact

 print(sum)

fun(11)
fun(17)

39916800
355687428096000

In [ ]:
# 4! + 7! + 10!

def fun(n) :
 sum = 0
 fact = 1
 for i in range(1,n+1):
  fact = fact * i

 if i%3 == 1 :
  sum = sum + fact

 print(sum)

fun(7)
fun(10)

5040
3628800

In [ ]:
def add(*args) :
  return sum(args)

add(10,20,30)
add(10,20)

30

In [ ]:
def add(*args):
 total_sum = 0
 for i in args:
  total_sum = total_sum + i
 return total_sum

add(10,20,30)

60

In [ ]:
def data(**c):
  for key,value in c.items():
    print(key,"is",value)

data(Name = "Dhruv",Age = 24)

Name is Dhruv
Age is 24